/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.hero {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.hero__pic {
  width: 100%;
}
.hero__more {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .hero { text-align: center;
  }

}
.fundamental {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task-text {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task-add {
  margin-top: 1em;
  margin-bottom: 1em;
}
.task-add__wrapper {
  display: flex;
}
ul {
  margin: 0;
  padding: 0;
}
li, 
h3 {
  list-style: none;
}
input,
button {
  outline: none;
}
.btn {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}
/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task-add__text,
.task-item__enter {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task-add__text:focus,
.task-item__enter:focus {
  color: #333;
}

/* New Task */

.task-add__title {
  margin: 0 0 20px; 
}
.task-add__name {
  width: 318px;
}

/* Task list */
.task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-item  > * {
  vertical-align: middle;
}
.task-item__check {
  margin: 0 10px;
}
.task-item__text {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.delete__pic {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete__pic:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-task .complete {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-item .task-item__enter {
  display: none;
}

.edit-mode .task-item__enter {
  display: inline-block;
  width: 224px;
  width: 100%;
}

.edit-mode .task-item__text {
  display: none;
}